<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>063-CAI978</key>
	<string>063-CAI978</string>
	<key>方正兰亭纤黑简体_0</key>
	<string>FZLTXHJW--GB1-0</string>
	<key>方正兰亭纤黑简体</key>
	<string>FZLTXHJW--GB1-0</string>
	<key>方正正纤黑简体</key>
	<string>FZZXHJW--GB1-0</string>
	<key>兰亭黑 GBK</key>
	<string>FZLTHK--GBK1-0</string>
	<key>FZLTDHK_0</key>
	<string>FZLTDHK--GBK1-0</string>
	<key>FZLTHK_0</key>
	<string>FZLTHK--GBK1-0</string>
	<key>FZLTXIHJW_0</key>
	<string>FZLTXIHJW--GB1-0</string>
	<key>FZLTXIHJW_1</key>
	<string>FZLTXIHJW--GB1-0</string>
	<key>FZLTZCHJW</key>
	<string>FZLTZCHJW--GB1-0</string>
	<key>FZLTZHJW_0</key>
	<string>FZLTZHJW--GB1-0</string>
	<key>FZLTZHUNHJW_0</key>
	<string>FZLTZHUNHJW--GB1-0</string>
	<key>FZLTZHUNHK_0</key>
	<string>FZLTZHUNHK--GBK1-0</string>
</dict>
</plist>
